@import '../sass/variables';

main{
    section{
        width: clamp(350px, 80%, 1250px);
        div{
            display: flex;
            width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 50px;
                canvas{
                    border: 5px solid $color-blue;
                    background-color: $color-pink;
                    border-radius: 20px;
                } 
            h2{
                font-size: clamp(1rem, 2.5vw, 2.5rem);
                font-weight: 600;
            }
            &:nth-of-type(2){
                padding-block: 50px;
            }
        }
    }
    
    .title{
        font-size: clamp(1.25rem, 4vw, 4rem);
        font-weight: bolder;
        padding: 5%;
    }   
    
}